*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.ffs_db
*.patch

.DS_Store
.externalNativeBuild
output.json
output-metadata.json
desktop.ini
sync.ffs_db

.bak/
.git/
.gradle/
.hprof/

!.run

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/shared-intellij-idea-settings.zip

/build/
/libs/**/build/
/release/
/releases/

/local.properties
/sign.properties
/*dependecies_tree.txt

# Project exclude paths
/app/build/
/app/build/intermediates/javac/debug/compileDebugJavaWithJavac/classes/
/app/build/intermediates/javac/debugAndroidTest/compileDebugAndroidTestJavaWithJavac/classes/