*.apk
*.zip
*.exe
*.iml
*.jks
*.log
*.ffs_db
*.patch
*.hprof

.DS_Store
.externalNativeBuild
output.json
output-metadata.json
desktop.ini
sync.ffs_db

.bak/
.cache/
.git/
.gradle/
.hprof/

!.run

.idea/*
!.idea/codeStyles/
!.idea/inspectionProfiles/
!.idea/shared-intellij-idea-settings.zip

/build/
/app/**/build/
/libs/**/build/
/app/**/release/
/app/**/releases/

/local.properties
/sign.properties
/*dependecies_tree.txt
